In [30]:
import pymysql
import sqlalchemy as alch 
import pandas as pd #pip install pandas==2.1.4


def connection ():
    password = "password"
    dbName = "supermercados"
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

    engine = alch.create_engine(connectionData) 
    return engine

engine = connection ()

def insert_table (df, table_name):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    return "Success!"

In [ ]:
precios_2023 = pd.read_csv("../data/data-to-tableau/codigos-precios-2023.csv")
pedidos = pd.read_csv("../data/data-to-tableau/historical_order_data_fg.csv")

In [ ]:
#insert_table (precios_2023, "precios_2023")
#insert_table (pedidos, "pedidos")

In [31]:
precios_2024 = pd.read_csv("../data/data-to-tableau/codigos-precios-2024.csv")
insert_table (precios_2024, "precios_2024")

'Success!'

In [32]:
codigos_categorias = pd.read_csv("../data/data-to-tableau/codes-categories.csv")
insert_table (codigos_categorias, "categories")

'Success!'

      product_code                     category              subcategory
0           4240.0    Aceite, especias y salsas    Aceite, vinagre y sal
1           4717.0    Aceite, especias y salsas    Aceite, vinagre y sal
2           4740.0    Aceite, especias y salsas    Aceite, vinagre y sal
3           4706.0    Aceite, especias y salsas    Aceite, vinagre y sal
4           4640.0    Aceite, especias y salsas    Aceite, vinagre y sal
...            ...                          ...                      ...
2878       15599.0  Huevos, leche y mantequilla  Mantequilla y margarina
2879       10376.0  Huevos, leche y mantequilla  Mantequilla y margarina
2880       17174.0  Huevos, leche y mantequilla  Mantequilla y margarina
2881       10320.0  Huevos, leche y mantequilla  Mantequilla y margarina
2882       86713.0  Huevos, leche y mantequilla  Mantequilla y margarina

[2883 rows x 3 columns]