In [12]:
import os


import pandas as pd
import numpy as np

In [13]:
cd historico-facturas-pdf

[Errno 2] No such file or directory: 'historico-facturas-pdf'
/Users/Moni/Ironhack/my_ironhack/projects/final-project/data/historico-facturas-pdf

In [24]:
df = pd.read_csv("order_history.csv",delimiter="~")

In [25]:
df

,Unnamed: 0,product,units,price,order_number,fecha,product_code,price_per_unit
0,0,Tomate pera,2,0.60,13996475,2023-03-18,69912,0.30
1,1,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13996475,2023-03-18,80862,1.45
2,2,Acondicionador Repara & Protege Pantene,1,3.80,13996475,2023-03-18,35615,3.80
3,3,Palitos de zanahoria,1,1.78,13996475,2023-03-18,69877,1.78
4,4,Fajitas pollo y verduras,3,11.97,13996475,2023-03-18,4284,3.99
...,...,...,...,...,...,...,...,...
665,854,Pechugas enteras de pollo,1,4.32,12793662,2022-10-06,3682,4.32
666,856,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3682,4.40
667,858,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831,4.32
668,859,Aguacates,1,2.90,12793662,2022-10-06,3858,2.90
669,860,Aguacates,1,3.03,12793662,2022-10-06,3858,3.03

In [28]:
df = df[["product", "units", "price", "price_per_unit", "fecha", "order_number"]]

In [31]:
df.rename(columns={"product", "units", "price", "price_per_unit", "fecha", "order_number"})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         670 non-null    object
 1   units           670 non-null    int64
 2   price           670 non-null    float64
 3   price_per_unit  670 non-null    float64
 4   fecha           670 non-null    object
 5   order_number    670 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 31.5+ KB

In [ ]:
df = [["description", "units", "price_eu", "unit_price", "date", "order_num"]]