In [363]:
import os

import pandas as pd
import numpy as np

from unidecode import unidecode

In [364]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

### Importamos los DF

## Scrape 2023

In [365]:
ref = pd.read_csv("../../data/productos-codigos.csv")
ref

,product,unidades,product_code
0,"Aceite de oliva 0,4º Hacendado",Garrafa 5 L,4241.0
1,"Aceite de oliva 0,4º Hacendado",Botella 1 L,4240.0
2,Aceite de oliva virgen extra Hacendado,Garrafa 3 L,4717.0
3,Aceite de oliva virgen extra Hacendado,Botella 1 L,4740.0
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella 750 ml,4706.0
...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,,39604.0
5225,Bebida guayaba Hacendado sin azúcares añadidos,,39659.0
5226,Bebida de pera Hacendado sin azúcares añadidos,,39628.0
5227,Zumo de pomelo Hacendado,,39696.0
5228,Zumo de manzana selección Hacendado,,39922.0

In [366]:
ref.rename(columns={"product":"description"}, inplace=True)

In [367]:
ref["description"] = ref["description"].str.lower()

In [368]:
ref['description'] = ref['description'].apply(remove_accents)

In [369]:
# Create a list of confusing products:

In [370]:
duplicados = ref[ref.duplicated(subset='description') == True]
duplicados_lista = duplicados["description"].unique()

In [371]:
not_confusing_ref = ref[ref['description'].isin(duplicados_lista) == False]

In [372]:
not_confusing_ref = not_confusing_ref[["description", "product_code"]]

## Historico 2023

In [373]:
#this alrready have the codes: 
df_1 = pd.read_csv("../../data/history-pruchase-kike.csv")

In [374]:
df_1 = df_1[["description", "product_code"]]

In [375]:
df_1["description"] = df_1["description"].str.lower()
df_1['description'] = df_1['description'].apply(remove_accents)

In [376]:
not_confusing_df= df_1[df_1['description'].isin(duplicados_lista) == False]

In [377]:
not_confusing_df.sample()

                              description  product_code
638  pan de hamburguesa brioche hacendado          1811

In [378]:
codes = pd.concat([not_confusing_df, not_confusing_ref])

In [379]:
codes["description"] = codes["description"].str.strip()

### FACTURAS  HISTORICO

Unimos todos los data Frames a los que hay que incluirles el codigo de prodcuto, y ponemos la descripcion en lower case

In [380]:
df_2 = pd.read_csv("../../data/history-pruchase-family.csv")

In [381]:
df_3 = pd.read_csv("../../data/history-pruchase-palacet.csv")

In [382]:
df_4 = pd.read_csv("../../data/history-pruchase-more.csv")

In [383]:
df = pd.concat([df_2, df_3, df_4])

In [384]:
df

,description,units,price_eu,unit_price,date,order_num
0,Jamón serrano Incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,Queso fresco de cabra Hacendado,1,2.20,2.20,2020-01-10,302316
2,Queso rallado 4 quesos Hacendado,1,1.59,1.59,2020-01-10,302316
3,Perlas de mozzarella fresca Hacendado,1,1.70,1.70,2020-01-10,302316
4,Mozzarella di bufala campana Hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,Leche desnatada Pascual,5,32.70,6.54,2022-07-10,12804912
929,11 Panecillos,1,1.10,1.10,2022-07-10,12804912
930,Patatas,1,5.49,5.49,2022-07-10,12804912
931,Queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,Salmón ahumado Hacendado,1,2.93,2.93,2022-07-10,12804912

In [385]:
#INCLUIR TOAS LAS DEMAS FACTURAS ARRIBA Y LUEGO CORRER EL CODIGO - JUNTAR CON LO DE KIKE Y ESTARIA YA TODO

In [386]:
df["description"] = df["description"].str.lower().str.strip()

In [387]:
# Function to remove accents using unidecode
def remove_accents(text):
    return unidecode(text)

# Apply the function to the 'Name' column
df['description'] = df['description'].apply(remove_accents)

In [388]:
df

,description,units,price_eu,unit_price,date,order_num
0,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,queso fresco de cabra hacendado,1,2.20,2.20,2020-01-10,302316
2,queso rallado 4 quesos hacendado,1,1.59,1.59,2020-01-10,302316
3,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316
4,mozzarella di bufala campana hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912
929,11 panecillos,1,1.10,1.10,2022-07-10,12804912
930,patatas,1,5.49,5.49,2022-07-10,12804912
931,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912

In [391]:
df = pd.merge(df, codes, how='left', left_on='description', right_on='description')

In [392]:
df = df.drop_duplicates(subset=['description', 'date'])

In [394]:
df

,description,units,price_eu,unit_price,date,order_num,product_code
0,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,59124.0
5,queso fresco de cabra hacendado,1,2.20,2.20,2020-01-10,302316,51194.0
6,queso rallado 4 quesos hacendado,1,1.59,1.59,2020-01-10,302316,51237.0
7,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316,NaN
8,mozzarella di bufala campana hacendado,1,1.70,1.70,2020-01-10,302316,51201.0
...,...,...,...,...,...,...,...
2368,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912,NaN
2369,11 panecillos,1,1.10,1.10,2022-07-10,12804912,83783.0
2370,patatas,1,5.49,5.49,2022-07-10,12804912,NaN
2371,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912,NaN
2372,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912,NaN

In [397]:
# Analizar duplicados para ver si podemos incluir los codigos manualmente (ver cuantos hay)
vacios = df[df["product_code"].isna()]

In [401]:
vacios.head(50)

,description,units,price_eu,unit_price,date,order_num,product_code
7,perlas de mozzarella fresca hacendado,1,1.70,1.700000,2020-01-10,302316,NaN
9,refresco coca-cola zero azucar,1,7.56,7.560000,2020-01-10,302316,NaN
13,dentifrico triple accion colgate con fluor,2,3.50,1.750000,2020-01-10,302316,NaN
14,aceite de oliva virgen extra hacendado,1,9.50,9.500000,2020-01-10,302316,NaN
15,lenteja cocida pardina hacendado,2,0.98,0.490000,2020-01-10,302316,NaN
17,piadinas pan estilo italiano hacendado,1,1.95,1.950000,2020-01-10,302316,NaN
18,pan de molde espelta 100% integral hacendado,1,1.10,1.100000,2020-01-10,302316,NaN
20,gelatina 0% azucar sabor fresa hacendado,1,0.98,0.980000,2020-01-10,302316,NaN
23,quinoa cocida blanca y roja hacendado,1,1.35,1.350000,2020-01-10,302316,NaN
24,yogur cremoso hacendado natural edulcorado,1,1.30,1.300000,2020-01-10,302316,NaN
25,tomate frito receta artesana hacendado,1,1.70,1.700000,2020-01-10,302316,NaN
26,papel higienico doble rollo bosque verde,2,7.64,3.820000,2020-01-10,302316,NaN
27,atun claro en aceite de oliva hacendado,2,7.98,3.990000,2020-01-10,302316,NaN
28,queso untar light blanco pasteurizado philadel...,1,2.10,2.100000,2020-01-10,302316,NaN
29,garbanzo cocido hacendado,2,1.40,0.700000,2020-01-10,302316,NaN
30,hogaza 100% natural,1,1.00,1.000000,2020-01-10,302316,NaN
31,agua mineral cortes,2,1.46,0.730000,2020-01-10,302316,NaN
32,leche desnatada pascual,2,10.68,5.340000,2020-01-10,302316,NaN
33,dentifrico original binaca,2,3.00,1.500000,2020-01-10,302316,NaN
34,morcilla oreada d' ontinyent,1,1.34,1.340000,2020-01-10,302316,NaN
66,huevos grandes l,1,1.45,1.450000,2019-02-27,125935,NaN
67,discos desmaquillantes deliplus redondos,1,0.95,0.950000,2019-02-27,125935,NaN
69,cebolla amarilla,1,1.89,1.890000,2019-02-27,125935,NaN
70,ajo morado,1,1.20,1.200000,2019-02-27,125935,NaN
72,desodorante roll-on dermo extra control sanex,1,1.80,1.800000,2019-02-27,125935,NaN
74,esparragos muy gruesos hacendado blancos enteros,1,2.53,2.530000,2019-02-27,125935,NaN
75,yogur bifidus desnatado hacendado frutas del b...,1,0.95,0.950000,2019-02-27,125935,NaN
76,compresa con alas normal evax cotton like,1,3.95,3.950000,2019-02-27,125935,NaN
77,lavavajillas ultra original fairy liquido,1,2.80,2.800000,2019-02-27,125935,NaN
79,agua mineral cortes,1,0.73,0.730000,2019-02-27,125935,NaN
81,queso untar light blanco pasteurizado philadel...,1,2.10,2.100000,2019-02-27,125935,NaN
82,galletas cookies hacendado,1,1.25,1.250000,2019-02-27,125935,NaN
83,tomate cherry,1,1.49,1.490000,2019-02-27,125935,NaN
84,limpiacristales y multiusos bosque verde,1,1.15,1.150000,2019-02-27,125935,NaN
86,"champu agua de coco fructis raices grasas, pun...",1,2.95,2.950000,2019-02-27,125935,NaN
87,arroz redondo la fallera,1,1.35,1.350000,2019-02-27,125935,NaN
88,platano,6,2.20,0.366667,2019-02-27,125935,NaN
90,dentifrico original binaca,1,1.50,1.500000,2019-02-27,125935,NaN
97,maiz dulce hacendado,1,0.95,0.950000,2019-02-27,125935,NaN
98,tomate frito receta artesana hacendado,1,1.70,1.700000,2019-02-27,125935,NaN
99,queso rallado hacendado especial fundir,1,1.00,1.000000,2019-02-27,125935,NaN
100,hogaza 100% natural,1,1.00,1.000000,2019-02-27,125935,NaN
101,cafe en capsula sontuoso l'or espresso,2,6.58,3.290000,2019-02-27,125935,NaN
102,chocolate con leche lindt,1,1.15,1.150000,2019-02-27,125935,NaN
103,papel higienico doble rollo bosque verde,1,3.74,3.740000,2019-02-27,125935,NaN
104,cafe en capsula ristretto l'or espresso,3,9.87,3.290000,2019-02-27,125935,NaN
106,lenteja cocida hacendado,2,1.18,0.590000,2019-02-27,125935,NaN
107,garbanzo cocido hacendado,1,0.70,0.700000,2019-02-27,125935,NaN
108,leche desnatada pascual,2,10.68,5.340000,2019-02-27,125935,NaN
109,pan de molde con avena hacendado,1,1.25,1.250000,2019-02-27,125935,NaN

In [400]:
export_to_csv(vacios, "../../data/vacios_02")

DataFrame successfully exported to ../../data/vacios_02.csv

In [324]:
df = pd.merge(df, codes, on='description', how='left')

In [18]:
export_to_csv(df, "../../data/history-purchase")

DataFrame successfully exported to ../../data/history-purchase.csv

### Set up SQL connection
First we load the ".env" file so that we can load the user's secret log in info to SQL.

In [ ]:
password = os.getenv("sql_password")
dbName = 'mercadona'
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

### Load the data
Now that our connection is set up, we load the information of the order history retreived from the Mercadona

#### Upload Order History
Upload the Order History to the "order_history" table in the "mercadona" schema.