In [363]:
import os

import pandas as pd
import numpy as np

from unidecode import unidecode

In [435]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

### Importamos los DF

## Scrape 2023

In [436]:
ref = pd.read_csv("../../data/productos-codigos.csv")
ref

,product,unidades,product_code
0,"Aceite de oliva 0,4º Hacendado",Garrafa 5 L,4241.0
1,"Aceite de oliva 0,4º Hacendado",Botella 1 L,4240.0
2,Aceite de oliva virgen extra Hacendado,Garrafa 3 L,4717.0
3,Aceite de oliva virgen extra Hacendado,Botella 1 L,4740.0
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella 750 ml,4706.0
...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,,39604.0
5225,Bebida guayaba Hacendado sin azúcares añadidos,,39659.0
5226,Bebida de pera Hacendado sin azúcares añadidos,,39628.0
5227,Zumo de pomelo Hacendado,,39696.0
5228,Zumo de manzana selección Hacendado,,39922.0

In [437]:
ref.rename(columns={"product":"description"}, inplace=True)

In [438]:
ref["description"] = ref["description"].str.lower()

In [439]:
ref['description'] = ref['description'].apply(remove_accents)

In [440]:
# Create a list of confusing products:

In [441]:
duplicados = ref[ref.duplicated(subset='description') == True]
duplicados_lista = duplicados["description"].unique()

In [442]:
not_confusing_ref = ref[ref['description'].isin(duplicados_lista) == False]

In [443]:
not_confusing_ref = not_confusing_ref[["description", "product_code"]]

## Historico 2023

In [444]:
#this alrready have the codes: 
df_1 = pd.read_csv("../../data/history-pruchase-kike.csv")

In [445]:
df_1 = df_1[["description", "product_code"]]

In [446]:
df_1["description"] = df_1["description"].str.lower()
df_1['description'] = df_1['description'].apply(remove_accents)

In [447]:
not_confusing_df= df_1[df_1['description'].isin(duplicados_lista) == False]

In [448]:
not_confusing_df.sample()

                             description  product_code
625  ensalada mezcla brotes tiernos maxi         69810

In [449]:
codes = pd.concat([not_confusing_df, not_confusing_ref])

In [450]:
codes["description"] = codes["description"].str.strip()

### FACTURAS  HISTORICO

Unimos todos los data Frames a los que hay que incluirles el codigo de prodcuto, y ponemos la descripcion en lower case

In [451]:
df_2 = pd.read_csv("../../data/history-pruchase-family.csv")

In [452]:
df_3 = pd.read_csv("../../data/history-pruchase-palacet.csv")

In [453]:
df_4 = pd.read_csv("../../data/history-pruchase-more.csv")

In [454]:
df = pd.concat([df_2, df_3, df_4])

In [455]:
df

,description,units,price_eu,unit_price,date,order_num
0,Jamón serrano Incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,Queso fresco de cabra Hacendado,1,2.20,2.20,2020-01-10,302316
2,Queso rallado 4 quesos Hacendado,1,1.59,1.59,2020-01-10,302316
3,Perlas de mozzarella fresca Hacendado,1,1.70,1.70,2020-01-10,302316
4,Mozzarella di bufala campana Hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,Leche desnatada Pascual,5,32.70,6.54,2022-07-10,12804912
929,11 Panecillos,1,1.10,1.10,2022-07-10,12804912
930,Patatas,1,5.49,5.49,2022-07-10,12804912
931,Queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,Salmón ahumado Hacendado,1,2.93,2.93,2022-07-10,12804912

In [456]:
#INCLUIR TOAS LAS DEMAS FACTURAS ARRIBA Y LUEGO CORRER EL CODIGO - JUNTAR CON LO DE KIKE Y ESTARIA YA TODO

In [457]:
df["description"] = df["description"].str.lower().str.strip()

In [458]:
# Function to remove accents using unidecode
def remove_accents(text):
    return unidecode(text)

# Apply the function to the 'Name' column
df['description'] = df['description'].apply(remove_accents)

In [459]:
df

,description,units,price_eu,unit_price,date,order_num
0,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,queso fresco de cabra hacendado,1,2.20,2.20,2020-01-10,302316
2,queso rallado 4 quesos hacendado,1,1.59,1.59,2020-01-10,302316
3,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316
4,mozzarella di bufala campana hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912
929,11 panecillos,1,1.10,1.10,2022-07-10,12804912
930,patatas,1,5.49,5.49,2022-07-10,12804912
931,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912

## MERGE AND MARTCH

In [428]:
df = pd.merge(df, codes, how='left', on='description')

In [429]:
df = pd.merge(df, codes, how='left', left_on='description', right_on='description')

In [430]:
#df = df.drop_duplicates(subset=['description', 'date'])

In [431]:
df

,description,units,price_eu,unit_price,date,order_num,product_code
0,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,59124.0
5,queso fresco de cabra hacendado,1,2.20,2.20,2020-01-10,302316,51194.0
6,queso rallado 4 quesos hacendado,1,1.59,1.59,2020-01-10,302316,51237.0
7,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316,NaN
8,mozzarella di bufala campana hacendado,1,1.70,1.70,2020-01-10,302316,51201.0
...,...,...,...,...,...,...,...
2368,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912,NaN
2369,11 panecillos,1,1.10,1.10,2022-07-10,12804912,83783.0
2370,patatas,1,5.49,5.49,2022-07-10,12804912,NaN
2371,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912,NaN
2372,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912,NaN

In [432]:
# Analizar duplicados para ver si podemos incluir los codigos manualmente (ver cuantos hay)
vacios = df[df["product_code"].isna()]

In [434]:
vacios

,description,units,price_eu,unit_price,date,order_num,product_code
7,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316,NaN
9,refresco coca-cola zero azucar,1,7.56,7.56,2020-01-10,302316,NaN
13,dentifrico triple accion colgate con fluor,2,3.50,1.75,2020-01-10,302316,NaN
14,aceite de oliva virgen extra hacendado,1,9.50,9.50,2020-01-10,302316,NaN
15,lenteja cocida pardina hacendado,2,0.98,0.49,2020-01-10,302316,NaN
...,...,...,...,...,...,...,...
2367,papel higienico doble rollo bosque verde,1,4.75,4.75,2022-07-10,12804912,NaN
2368,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912,NaN
2370,patatas,1,5.49,5.49,2022-07-10,12804912,NaN
2371,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912,NaN
2372,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912,NaN

In [400]:
export_to_csv(vacios, "../../data/vacios_02")

DataFrame successfully exported to ../../data/vacios_02.csv

In [324]:
df = pd.merge(df, codes, on='description', how='left')

### WORK ARROUND?

In [461]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd

df1 = df
df2 = codes


# Function to get best match
def get_best_match(row, choices):
    return process.extractOne(row['description'], choices, scorer=fuzz.token_sort_ratio)[0]

# Apply fuzzy matching to get best matches
df1['best_match'] = df1.apply(get_best_match, args=(df2['description'],), axis=1)

# Merge based on best matches
merged_df = pd.merge(df1, df2, how='left', left_on='best_match', right_on='description')

merged_df

,description_x,units,price_eu,unit_price,date,order_num,best_match,description_y,product_code
0,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,jamon serrano incarlopsa lonchas,jamon serrano incarlopsa lonchas,59124.0
1,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,jamon serrano incarlopsa lonchas,jamon serrano incarlopsa lonchas,59124.0
2,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,jamon serrano incarlopsa lonchas,jamon serrano incarlopsa lonchas,59124.0
3,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,jamon serrano incarlopsa lonchas,jamon serrano incarlopsa lonchas,59124.0
4,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,jamon serrano incarlopsa lonchas,jamon serrano incarlopsa lonchas,59124.0
...,...,...,...,...,...,...,...,...,...
2562,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912,leche en polvo desnatada,leche en polvo desnatada,10414.0
2563,11 panecillos,1,1.10,1.10,2022-07-10,12804912,11 panecillos,11 panecillos,83783.0
2564,patatas,1,5.49,5.49,2022-07-10,12804912,patata,patata,69066.0
2565,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912,queso azul de vaca hacendado,queso azul de vaca hacendado,51627.0
2566,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912,taquitos de salmon ahumado hacendado,taquitos de salmon ahumado hacendado,22612.0

In [462]:
export_to_csv(merged_df, "../../data/best-coincidence")

DataFrame successfully exported to ../../data/best-coincidence.csv

In [18]:
export_to_csv(df, "../../data/history-purchase")

DataFrame successfully exported to ../../data/history-purchase.csv

### Set up SQL connection
First we load the ".env" file so that we can load the user's secret log in info to SQL.

In [ ]:
password = os.getenv("sql_password")
dbName = 'mercadona'
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

### Load the data
Now that our connection is set up, we load the information of the order history retreived from the Mercadona

#### Upload Order History
Upload the Order History to the "order_history" table in the "mercadona" schema.