In [157]:
import os

import pandas as pd
import numpy as np

from unidecode import unidecode

In [158]:
# Function to remove accents using unidecode
def remove_accents(text):
    return unidecode(text)

In [159]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

### Importamos los DF

## Scrape 2023

In [160]:
ref = pd.read_csv("../../data/productos-codigos.csv")
ref

,product,unidades,product_code
0,"Aceite de oliva 0,4º Hacendado",Garrafa 5 L,4241.0
1,"Aceite de oliva 0,4º Hacendado",Botella 1 L,4240.0
2,Aceite de oliva virgen extra Hacendado,Garrafa 3 L,4717.0
3,Aceite de oliva virgen extra Hacendado,Botella 1 L,4740.0
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella 750 ml,4706.0
...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,,39604.0
5225,Bebida guayaba Hacendado sin azúcares añadidos,,39659.0
5226,Bebida de pera Hacendado sin azúcares añadidos,,39628.0
5227,Zumo de pomelo Hacendado,,39696.0
5228,Zumo de manzana selección Hacendado,,39922.0

In [161]:
ref.rename(columns={"product":"description"}, inplace=True)

In [162]:
ref["description"] = ref["description"].str.lower()

In [163]:
ref['description'] = ref['description'].apply(remove_accents)

In [164]:
# Create a list of confusing products:

In [165]:
duplicados = ref[ref.duplicated(subset='description') == True]
duplicados_lista = duplicados["description"].unique()

In [166]:
not_confusing_ref = ref[ref['description'].isin(duplicados_lista) == False]

In [167]:
not_confusing_ref = not_confusing_ref[["description", "product_code"]]

## Historico 2023

In [168]:
#this alrready have the codes: 
df_1 = pd.read_csv("../../data/history-pruchase-kike.csv")

In [169]:
df_1 = df_1[["description", "product_code"]]

In [170]:
df_1["description"] = df_1["description"].str.lower()
df_1['description'] = df_1['description'].apply(remove_accents)

In [171]:
not_confusing_df= df_1[df_1['description'].isin(duplicados_lista) == False]

In [172]:
not_confusing_df.sample()

       description  product_code
545  platano macho          3132

In [173]:
codes = pd.concat([not_confusing_df, not_confusing_ref])

In [174]:
codes["description"] = codes["description"].str.strip()

### FACTURAS  HISTORICO

Unimos todos los data Frames a los que hay que incluirles el codigo de prodcuto, y ponemos la descripcion en lower case

In [175]:
df_2 = pd.read_csv("../../data/history-pruchase-family.csv")

In [176]:
df_3 = pd.read_csv("../../data/history-pruchase-palacet.csv")

In [177]:
df_4 = pd.read_csv("../../data/history-pruchase-more.csv")

In [178]:
df = pd.concat([df_2, df_3, df_4])

In [179]:
df

,description,units,price_eu,unit_price,date,order_num
0,Jamón serrano Incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,Queso fresco de cabra Hacendado,1,2.20,2.20,2020-01-10,302316
2,Queso rallado 4 quesos Hacendado,1,1.59,1.59,2020-01-10,302316
3,Perlas de mozzarella fresca Hacendado,1,1.70,1.70,2020-01-10,302316
4,Mozzarella di bufala campana Hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,Leche desnatada Pascual,5,32.70,6.54,2022-07-10,12804912
929,11 Panecillos,1,1.10,1.10,2022-07-10,12804912
930,Patatas,1,5.49,5.49,2022-07-10,12804912
931,Queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,Salmón ahumado Hacendado,1,2.93,2.93,2022-07-10,12804912

In [180]:
#INCLUIR TOAS LAS DEMAS FACTURAS ARRIBA Y LUEGO CORRER EL CODIGO - JUNTAR CON LO DE KIKE Y ESTARIA YA TODO

In [181]:
# Apply the function to the 'Name' column
df['description'] = df['description'].apply(remove_accents)

In [182]:
df["description"] = df["description"].str.lower().str.strip()

In [183]:
df

,description,units,price_eu,unit_price,date,order_num
0,jamon serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,queso fresco de cabra hacendado,1,2.20,2.20,2020-01-10,302316
2,queso rallado 4 quesos hacendado,1,1.59,1.59,2020-01-10,302316
3,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316
4,mozzarella di bufala campana hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912
929,11 panecillos,1,1.10,1.10,2022-07-10,12804912
930,patatas,1,5.49,5.49,2022-07-10,12804912
931,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912

## MERGE AND MARTCH

In [184]:
df = pd.merge(df, codes, how='left', on='description')

In [185]:
#df = pd.merge(df, codes, how='left', left_on='description', right_on='description')

In [186]:
df = df.drop_duplicates(subset=['description', 'date'])

In [187]:
df = pd.merge(df, codes, on='description', how='left')

In [188]:

manual_codes = {"papel higienico doble rollo bosque verde" : 47818,
                    "huevos grandes l":31504,
                    "atun claro en aceite de oliva hacendado":18002,
                    "garbanzo cocido hacendado":26029,
                    "patatas":69166,
                    "aceite de oliva virgen extra hacendado":4740,
                    "tomate frito receta artesana hacendado":17163}


for key, value in manual_codes.items():

    condition = df["description"] == key

    # Update the price where the condition is met
    df.loc[condition, "product_code"] = value

In [189]:
df_n = df[df["product_code"].isna() == False]

### WORK ARROUND? - VACIOS

In [190]:
# Analizar duplicados para ver si podemos incluir los codigos manualmente (ver cuantos hay)
vacios = df[df["product_code"].isna()]

In [191]:
vacios.drop(columns = "product_code", inplace=True)

/var/folders/k4/q8g97p495cx7f63kbs0wzyc00000gn/T/ipykernel_31176/2041753164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacios.drop(columns = "product_code", inplace=True)

In [192]:
vacios.sample()

,description,units,price_eu,unit_price,date,order_num,product_code_x,product_code_y
1702,aguacates,1,2.39,2.39,2020-10-20,6858326,3858.0,3858.0

In [193]:
more = pd.read_csv("../../data/coincidence_codes.csv")

In [194]:
more.sample()

                        description  product_code
200  lomo de pavo hacendado lonchas       56619.0

In [195]:
empty_more = pd.merge(vacios, more, on='description', how='left')
empty_more.sample()

,description,units,price_eu,unit_price,date,order_num,product_code_x,product_code_y,product_code
1663,galletas chocominis sabor chocolate hacendado,2,3.5,1.75,2022-02-22,11422261,14159.0,14159.0,NaN

In [196]:
#this alrready have the codes: 
df_1 = pd.read_csv("../../data/history-pruchase-kike.csv")

df_1 = df_1[["description", "units", "price_eu", "unit_price", "date", "order_num", "product_code"]]
df_1.sample()

,description,units,price_eu,unit_price,date,order_num,product_code
97,Pudding +Proteínas caramelo Hacendado 12 g pro...,1,1.95,1.95,2023-02-18,13759447,60956

In [197]:
#this alrready have the codes: 
df_n.sample()

,description,units,price_eu,unit_price,date,order_num,product_code_x,product_code_y,product_code
712,garbanzo cocido hacendado,1,0.54,0.54,2018-11-13,61858,NaN,NaN,26029.0

In [198]:
df.sample()

,description,units,price_eu,unit_price,date,order_num,product_code_x,product_code_y,product_code
1548,palitos de pan con queso anitin,1,1.19,1.19,2021-08-05,8403972,82892.0,82892.0,NaN

In [199]:
df = pd.concat([df_n, empty_more, df_1])

In [200]:
df.drop_duplicates(inplace = True)

In [201]:
df['description'] = df['description'].apply(remove_accents)

In [202]:
df["description"] = df["description"].str.lower().str.strip()

In [203]:
export_to_csv(df, "../../data/historical_order_data_fg")

DataFrame successfully exported to ../../data/historical_order_data_fg.csv

### WHO I GOT THE MORE TABLE:

In [83]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd

df1 = vacios
df2 = codes


# Function to get best match
def get_best_match(row, choices):
    return process.extractOne(row['description'], choices, scorer=fuzz.token_sort_ratio)[0]

# Apply fuzzy matching to get best matches
df1['best_match'] = df1.apply(get_best_match, args=(df2['description'],), axis=1)

# Merge based on best matches
merged_df = pd.merge(df1, df2, how='left', left_on='best_match', right_on='description')

merged_df

/Users/Moni/miniconda3/envs/ironhack/lib/python3.11/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')
/var/folders/k4/q8g97p495cx7f63kbs0wzyc00000gn/T/ipykernel_31176/521858837.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['best_match'] = df1.apply(get_best_match, args=(df2['description'],), axis=1)

,description_x,units,price_eu,unit_price,date,order_num,product_code_x,best_match,description_y,product_code_y
0,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316,NaN,perlas de mozzarella fresca de vaca hacendado,perlas de mozzarella fresca de vaca hacendado,51052.0
1,refresco coca-cola zero azucar,1,7.56,7.56,2020-01-10,302316,NaN,refresco fanta limon zero azucares anadidos,refresco fanta limon zero azucares anadidos,27608.0
2,dentifrico triple accion colgate con fluor,2,3.50,1.75,2020-01-10,302316,NaN,dentifrico triple accion colgate con fluor men...,dentifrico triple accion colgate con fluor men...,73978.0
3,aceite de oliva virgen extra hacendado,1,9.50,9.50,2020-01-10,302316,NaN,aceite de oliva virgen extra hacendado gran se...,aceite de oliva virgen extra hacendado gran se...,4706.0
4,lenteja cocida pardina hacendado,2,0.98,0.49,2020-01-10,302316,NaN,lenteja pardina hacendado categoria extra,lenteja pardina hacendado categoria extra,5330.0
...,...,...,...,...,...,...,...,...,...,...
1176,papel higienico doble rollo bosque verde,1,4.75,4.75,2022-07-10,12804912,NaN,papel higienico doble hoja bosque verde,papel higienico doble hoja bosque verde,47834.0
1177,leche desnatada pascual,5,32.70,6.54,2022-07-10,12804912,NaN,leche en polvo desnatada,leche en polvo desnatada,10414.0
1178,patatas,1,5.49,5.49,2022-07-10,12804912,NaN,patata,patata,69066.0
1179,queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912,NaN,queso azul de vaca hacendado,queso azul de vaca hacendado,51627.0
1180,salmon ahumado hacendado,1,2.93,2.93,2022-07-10,12804912,NaN,taquitos de salmon ahumado hacendado,taquitos de salmon ahumado hacendado,22612.0

In [96]:
export_to_csv(merged_df, "../../data/best-coincidence")

DataFrame successfully exported to ../../data/best-coincidence.csv

In [400]:
export_to_csv(vacios, "../../data/vacios_02")

DataFrame successfully exported to ../../data/vacios_02.csv

In [18]:
export_to_csv(df, "../../data/history-purchase")

DataFrame successfully exported to ../../data/history-purchase.csv

### Set up SQL connection
First we load the ".env" file so that we can load the user's secret log in info to SQL.

In [ ]:
password = os.getenv("sql_password")
dbName = 'mercadona'
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

### Load the data
Now that our connection is set up, we load the information of the order history retreived from the Mercadona

#### Upload Order History
Upload the Order History to the "order_history" table in the "mercadona" schema.