In [3]:
import pandas as pd
import numpy as np
import csv
import re

#Deberia revisar lo de Counter que lo uso bastante y no conoxco muy bien la libreria
from collections import Counter

In [21]:
def format_price(x):
    
    """
    Decompose and fromate values for the colum price
    
    input: string 
    output: lsit, values of each key already casted:
        price: pos[0]: float
        descuento: pos[1]: float/np.nan(float) (where there is a discount or not)
    
    """
    
    # 1. Replace the € simbol and splits by the "/" ch -- generates a list of 2 elements (nums - text)
    x = x.replace("€", "").replace(",", ".").split("\n")
    
    # 4. Extracts and formats price value:
    price = float(x[0])
    
    # 5. Extracts and formats discount_price if not dicount np.nan
    discount = [np.nan if len(x) == 1 else float(x[1])][0]
    
    return [price, discount]

In [8]:
ls

column_unidades.csv             srape-mercadona_2024-03-08.csv
scrape-consum_2024-03-10.csv

In [9]:
cons = pd.read_csv("scrape-consum_2024-03-10.csv")
df = cons

In [10]:
df.sample()

#categoria, subcategoria y descripcion - las dejamos como están.

,categoria,subcategoria,descripcion,unidades,precio,marca
6409,Infantil,Puericultura,Discos Absorbentes Lactancia 60 U,"0,10 € / 1 U","5,95 €",TIGEX

In [11]:
# All collumns have values. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9454 entries, 0 to 9453
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   categoria     9454 non-null   object
 1   subcategoria  9454 non-null   object
 2   descripcion   9454 non-null   object
 3   unidades      9454 non-null   object
 4   precio        9454 non-null   object
 5   marca         8952 non-null   object
dtypes: object(6)
memory usage: 443.3+ KB

In [17]:
df["precio"].str.replace("€", "").str.replace(",", ".").str.split("\n")

0       [1.29 , 1.19 ]
1       [1.29 , 1.19 ]
2       [1.29 , 1.19 ]
3       [1.29 , 1.19 ]
4       [1.29 , 1.19 ]
             ...
9449           [1.95 ]
9450           [1.95 ]
9451           [1.95 ]
9452           [1.95 ]
9453           [1.95 ]
Name: precio, Length: 9454, dtype: object

In [ ]:
  
    # 1. Replace the € simbol and splits by the "/" ch -- generates a list of 2 elements (nums - text)
    x = x.replace("€", "").split("\n1")

### Precio

- No hay valores nulos

- El precio puede contener o 2 informaciones o 3:
    - El precio y a que hace referencia ese precio (pack)
    - El precio, precio si esta descontado y a que hace referencia ese precio(pack)

- Creamos una funcion que aplicamos a todos los elementos de la columna precio para formaterla. Aqui extraeremos los tres valores comentados antes. Cuando no haya descuento --> np.nan
    - price_info --> string
    - price_eu and price_disc_eu --> float
    
  **Note:** Interesante aqui el tema de apply(function) y luego el lambda. 
  
- Eliminamos la columna original

**NOTE:** En price_info, los valores son bastante consistentes siendo la mayoria de valoes (ud/pack). No obstante hay 14 valores que son de tipo ( xxx g) ej 500 g. Veremos a ver que hacemos. si los descartamos o como los tranformamos. No son una parte muy relevante del conjunto de datos ( 14 de 5035) pero tener en cuenta que hay que revisarlo:

**Tranform Price column**

In [22]:
# Apply the function and get the element for each colum: 
df["price_eu"] = df["precio"].apply(format_price).apply(lambda x:x[0])
df["price_disc_eu"] = df["precio"].apply(format_price).apply(lambda x:x[1])

#Drop old column:
df.drop("precio", axis=1, inplace=True)

df.sample()

,categoria,subcategoria,descripcion,unidades,marca,price_eu,price_disc_eu
4905,Frescos,Pescadería,Perlas de Arenque MSC 50 Gr,"69,80 € / 1 Kg",SPHERIKA,3.49,NaN

### UNIDADES:

In [23]:
df

,categoria,subcategoria,descripcion,unidades,marca,price_eu,price_disc_eu
0,Despensa,Aperitivos y frutos secos,Aceitunas Negras sin Hueso Lata 150 Gr,"7,93 € / 1 Kg",CONSUM,1.29,1.19
1,Despensa,Aperitivos y frutos secos,Aceitunas Negras sin Hueso Lata 150 Gr,"7,93 € / 1 Kg",CONSUM,1.29,1.19
2,Despensa,Aperitivos y frutos secos,Aceitunas Negras sin Hueso Lata 150 Gr,"7,93 € / 1 Kg",CONSUM,1.29,1.19
3,Despensa,Aperitivos y frutos secos,Aceitunas Negras sin Hueso Lata 150 Gr,"7,93 € / 1 Kg",CONSUM,1.29,1.19
4,Despensa,Aperitivos y frutos secos,Aceitunas Negras sin Hueso Lata 150 Gr,"7,93 € / 1 Kg",CONSUM,1.29,1.19
...,...,...,...,...,...,...,...
9449,Bazar,Velas,Vaso Satinado Perfumado Pink Flower 1 U,"1,95 € / 1 U",ROURA,1.95,NaN
9450,Bazar,Velas,Vaso Satinado Perfumado Pink Flower 1 U,"1,95 € / 1 U",ROURA,1.95,NaN
9451,Bazar,Velas,Vaso Satinado Perfumado Pink Flower 1 U,"1,95 € / 1 U",ROURA,1.95,NaN
9452,Bazar,Velas,Vaso Satinado Perfumado Pink Flower 1 U,"1,95 € / 1 U",ROURA,1.95,NaN
9453,Bazar,Velas,Vaso Satinado Perfumado Pink Flower 1 U,"1,95 € / 1 U",ROURA,1.95,NaN

In [360]:
df["unidades"] = df["unidades"].str.replace("aprox.", "")

In [288]:
lista = df["unidades"].unique()
len(lista)

1396

In [339]:
lista
re_words = ["x", "aprox." "(g", "g)", "g", "ud.", "ml", "kg", "ml", "L", "ml)", "(250"]
numb = 30
words = []

words_list = [ i.strip().split(" ") for i in lista]

for i in words_list:
    for e in i:
        if e.isdigit() == False and e not in re_words:
            words.append(e)
            
word_counts = Counter(words)
    
most_common_words = word_counts.most_common(numb)

palabras = [i[0] for i in most_common_words]

In [341]:
print(palabras)

['Paquete', 'Caja', 'aprox.', 'Pieza', 'Bote', 'Bandeja', 'Tarro', 'escurrido)', 'paquetes', 'Botella', 'Tarrina', 'cápsulas', 'latas', 'escurrido', 'sobres', 'Lata', 'lavados', 'botellas', 'raciones', 'Spray', 'bolsitas', 'Tubo', 'Bol', 'rebanadas', '(240', 'mini', '(200', 'barritas', 'Sobre', '1,5']

In [351]:
f_df = df[df['unidades'].str.contains('Paquete')]

In [349]:
Paquete = i_df["unidades"].tolist()

In [24]:
def texto_csv(df, column):
    
    #name of the document: as column_name_column.csv
    path = f'column_{column}.csv'
    
    """ Hay que quitar los vacios primero - lo he sacado de la funcion
    por no tranformar la tabla aqui """
   
    #2. We write every colum as a new line in the .csv
    non_empty_values = [str(i) for i in df[column]]
    
    with open(path, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerows([[value] for value in non_empty_values]) 
        
    print(f'Column successfully exported to {path}')

In [25]:
texto_csv(df, "descripcion")

Column successfully exported to column_descripcion.csv