In [100]:
import os

import pandas as pd
import numpy as np

from unidecode import unidecode

In [209]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

### Importamos los DF

## Scrape 2023

In [223]:
ref = pd.read_csv("../../data/productos-codigos.csv")
ref.sample()

                              product              unidades  product_code
1527  Longaniza fresca estilo criollo  Bandeja 380 g aprox.        6045.0

In [224]:
ref.rename(columns={"product":"description"}, inplace=True)

In [225]:
ref["description"] = ref["description"].str.lower()

In [226]:
ref['description'] = ref['description'].apply(remove_accents)

In [227]:
# Create a list of confusing products:

In [228]:
duplicados = ref[ref.duplicated(subset='description') == True]
duplicados_lista = duplicados["description"].unique()

In [229]:
not_confusing_ref = ref[ref['description'].isin(duplicados_lista) == False]

In [230]:
not_confusing_ref = not_confusing_ref[["description", "product_code"]]

## Historico 2023

In [231]:
#this alrready have the codes: 
df_1 = pd.read_csv("../../data/history-pruchase-kike.csv")

In [232]:
df_1 = df_1[["description", "product_code"]]

In [233]:
df_1["description"] = df_1["description"].str.lower()
df_1['description'] = df_1['description'].apply(remove_accents)

In [234]:
not_confusing_df= df_1[df_1['description'].isin(duplicados_lista) == False]

In [235]:
not_confusing_df.sample()

    description  product_code
622      banana          3824

In [236]:
codes = pd.concat([not_confusing_df, not_confusing_ref])

In [237]:
codes

                                            description  product_code
0                                           tomate pera       69912.0
1     hummus de garbanzos hacendado con pimiento del...       80862.0
2               acondicionador repara & protege pantene       35615.0
3                                  palitos de zanahoria       69877.0
4                              fajitas pollo y verduras        4284.0
...                                                 ...           ...
5224   bebida de pomelo hacendado sin azucares anadidos       39604.0
5225     bebida guayaba hacendado sin azucares anadidos       39659.0
5226     bebida de pera hacendado sin azucares anadidos       39628.0
5227                           zumo de pomelo hacendado       39696.0
5228                zumo de manzana seleccion hacendado       39922.0

[4413 rows x 2 columns]

### FACTURAS  HISTORICO

Unimos todos los data Frames a los que hay que incluirles el codigo de prodcuto, y ponemos la descripcion en lower case

In [247]:
df_2 = pd.read_csv("../../data/history-pruchase-family.csv")

In [248]:
df_3 = pd.read_csv("../../data/history-pruchase-palacet.csv")

In [249]:
df_4 = pd.read_csv("../../data/history-pruchase-more.csv")

In [250]:
df = pd.concat([df_2, df_3, df_4])

In [251]:
df

,description,units,price_eu,unit_price,date,order_num
0,JamÃ³n serrano Incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316
1,Queso fresco de cabra Hacendado,1,2.20,2.20,2020-01-10,302316
2,Queso rallado 4 quesos Hacendado,1,1.59,1.59,2020-01-10,302316
3,Perlas de mozzarella fresca Hacendado,1,1.70,1.70,2020-01-10,302316
4,Mozzarella di bufala campana Hacendado,1,1.70,1.70,2020-01-10,302316
...,...,...,...,...,...,...
928,Leche desnatada Pascual,5,32.70,6.54,2022-07-10,12804912
929,11 Panecillos,1,1.10,1.10,2022-07-10,12804912
930,Patatas,1,5.49,5.49,2022-07-10,12804912
931,Queso azul hojas de vaca,1,1.91,1.91,2022-07-10,12804912
932,SalmÃ³n ahumado Hacendado,1,2.93,2.93,2022-07-10,12804912

In [243]:
#INCLUIR TOAS LAS DEMAS FACTURAS ARRIBA Y LUEGO CORRER EL CODIGO - JUNTAR CON LO DE KIKE Y ESTARIA YA TODO

In [244]:
df["description"] = df["description"].str.lower()

In [245]:
# Function to remove accents using unidecode
def remove_accents(text):
    return unidecode(text)

# Apply the function to the 'Name' column
df['description'] = df['description'].apply(remove_accents)

In [246]:
df.sample()

,description,units,price_eu,unit_price,date,order_num
565,cacao soluble 0% azucares anadidos colacao,1,3.79,3.79,2022-12-12,13266605

In [204]:
df = pd.merge(df, codes, on='description', how='left')

In [208]:
df

In [206]:
df = df.drop_duplicates(inplace=True)

In [207]:
df

In [171]:
mew = pd.merge(vacios, df_1, on='description', how='left')

In [163]:
# Analizar duplicados para ver si podemos incluir los codigos manualmente (ver cuantos hay)
vacios = df[df["product_code"].isna()]

In [173]:
mew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   description     1889 non-null   object
 1   units           1889 non-null   int64
 2   price_eu        1889 non-null   float64
 3   unit_price      1889 non-null   float64
 4   date            1889 non-null   object
 5   order_num       1889 non-null   int64
 6   product_code_x  0 non-null      float64
 7   product_code_y  1015 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 118.2+ KB

In [71]:
export_to_csv(vacios, "../../data/vacios")

DataFrame successfully exported to ../../data/vacios.csv

In [18]:
export_to_csv(df, "../../data/history-purchase")

DataFrame successfully exported to ../../data/history-purchase.csv

### Set up SQL connection
First we load the ".env" file so that we can load the user's secret log in info to SQL.

In [ ]:
password = os.getenv("sql_password")
dbName = 'mercadona'
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

### Load the data
Now that our connection is set up, we load the information of the order history retreived from the Mercadona

#### Upload Order History
Upload the Order History to the "order_history" table in the "mercadona" schema.