In [2]:
import os

import pandas as pd
import numpy as np

In [3]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

### Importamos los DF

In [72]:
#this alrready have the codes: 
df_1 = pd.read_csv("../../data/history-pruchase-kike.csv")
df_1["user"] = "user1"

In [73]:
df_1

,description,product_code,units,price_eu,unit_price,date,order_num,user
0,Tomate pera,69912,2,0.60,0.30,2023-03-18,13996475,user1
1,Hummus de garbanzos Hacendado con pimiento del...,80862,1,1.45,1.45,2023-03-18,13996475,user1
2,Acondicionador Repara & Protege Pantene,35615,1,3.80,3.80,2023-03-18,13996475,user1
3,Palitos de zanahoria,69877,1,1.78,1.78,2023-03-18,13996475,user1
4,Fajitas pollo y verduras,4284,3,11.97,3.99,2023-03-18,13996475,user1
...,...,...,...,...,...,...,...,...
665,Pechugas enteras de pollo,3682,1,4.32,4.32,2022-10-06,12793662,user1
666,Pechugas enteras de pollo,3682,1,4.40,4.40,2022-10-06,12793662,user1
667,Medallones pechuga de pollo marinado,2831,1,4.32,4.32,2022-10-06,12793662,user1
668,Aguacates,3858,1,2.90,2.90,2022-10-06,12793662,user1
669,Aguacates,3858,1,3.03,3.03,2022-10-06,12793662,user1

### Insert product codes:

Unimos todos los data Frames a los que hay que incluirles el codigo de prodcuto, y ponemos la descripcion en lower case

In [53]:
df_2 = pd.read_csv("../../data/history-pruchase-family.csv")
df_2["user"] = "user2"

In [54]:
df_3 = pd.read_csv("../../data/history-pruchase-palacet.csv")
df_3["user"] = "user3"

In [55]:
df = pd.concat([df_2, df_3])

In [56]:
#INCLUIR TOAS LAS DEMAS FACTURAS ARRIBA Y LUEGO CORRER EL CODIGO - JUNTAR CON LO DE KIKE Y ESTARIA YA TODO

In [57]:
df["description"] = df["description"].str.lower()

In [60]:
df.sample()

,description,units,price_eu,unit_price,date,order_num,user
224,tomate frito hacendado,1,0.8,0.8,2019-05-22,185199,user2

In [28]:
## Solo vamos a añadir los que no pueden probocar confusion:

In [63]:
ref = pd.read_csv("../../data/productos-codigos.csv")
ref.sample()

,product,unidades,product_code
5042,"Gelatina sabores limón, multifrutas y naranja ...",6 ud. x 100 g,68193.0

In [ ]:
# Create a list of confusing products:

In [32]:
duplicados = ref[ref.duplicated(subset='product') == True]
duplicados_lista = duplicados["product"].unique()

In [38]:
not_confusing_ref = ref[ref['product'].isin(duplicados_lista) == False]

In [41]:
not_confusing_ref.rename(columns={"product":"description"}, inplace=True)

/var/folders/k4/q8g97p495cx7f63kbs0wzyc00000gn/T/ipykernel_15009/2911764925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_confusing_ref.rename(columns={"product":"description"}, inplace=True)

In [44]:
not_confusing_ref = not_confusing_ref[["description", "product_code"]]

In [65]:
not_confusing_ref["description"] = not_confusing_ref["description"].str.lower()
not_confusing_ref

/var/folders/k4/q8g97p495cx7f63kbs0wzyc00000gn/T/ipykernel_15009/3450241666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_confusing_ref["description"] = not_confusing_ref["description"].str.lower()

                                            description  product_code
4     aceite de oliva virgen extra hacendado gran se...        4706.0
10      aceite de oliva virgen extra picual casa juncal        4850.0
13                      aceite de coco virgen hacendado        4193.0
14                     vinagre de vino blanco hacendado        4940.0
15                vinagre balsámico de módena hacendado        4954.0
...                                                 ...           ...
5224   bebida de pomelo hacendado sin azúcares añadidos       39604.0
5225     bebida guayaba hacendado sin azúcares añadidos       39659.0
5226     bebida de pera hacendado sin azúcares añadidos       39628.0
5227                           zumo de pomelo hacendado       39696.0
5228                zumo de manzana selección hacendado       39922.0

[3933 rows x 2 columns]

In [66]:
df = pd.merge(df, not_confusing_ref, on='description', how='left')

In [67]:
df

,description,units,price_eu,unit_price,date,order_num,user,product_code
0,jamón serrano incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,user2,59124.0
1,queso fresco de cabra hacendado,1,2.20,2.20,2020-01-10,302316,user2,51194.0
2,queso rallado 4 quesos hacendado,1,1.59,1.59,2020-01-10,302316,user2,51237.0
3,perlas de mozzarella fresca hacendado,1,1.70,1.70,2020-01-10,302316,user2,NaN
4,mozzarella di bufala campana hacendado,1,1.70,1.70,2020-01-10,302316,user2,51201.0
...,...,...,...,...,...,...,...,...
931,activador del lavado ropa blanca bosque verde ...,1,1.60,1.60,2020-07-11,6947878,user3,NaN
932,suavizante ropa talco bosque verde concentrado,2,3.58,1.79,2020-07-11,6947878,user3,40740.0
933,lavavajillas aloe bosque verde concentrado,1,1.55,1.55,2020-07-11,6947878,user3,NaN
934,lejía con detergente bosque verde,1,0.71,0.71,2020-07-11,6947878,user3,43024.0
935,friegasuelos pino bosque verde líquido,1,0.65,0.65,2020-07-11,6947878,user3,43347.0

In [70]:
# Analizar duplicados para ver si podemos incluir los codigos manualmente (ver cuantos hay)
vacios = df[df["product_code"].isna()]

In [71]:
export_to_csv(vacios, "../../data/vacios")

DataFrame successfully exported to ../../data/vacios.csv

In [18]:
export_to_csv(df, "../../data/history-purchase")

DataFrame successfully exported to ../../data/history-purchase.csv

### Set up SQL connection
First we load the ".env" file so that we can load the user's secret log in info to SQL.

In [ ]:
password = os.getenv("sql_password")
dbName = 'mercadona'
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

### Load the data
Now that our connection is set up, we load the information of the order history retreived from the Mercadona

#### Upload Order History
Upload the Order History to the "order_history" table in the "mercadona" schema.