In [2]:
import os


import pandas as pd
import numpy as np

In [27]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

In [16]:
df = pd.read_csv("../data/historico-facturas-pdf/order_history-kike.csv",delimiter="~")

In [17]:
df

,Unnamed: 0,product,units,price,order_number,fecha,product_code,price_per_unit
0,0,Tomate pera,2,0.60,13996475,2023-03-18,69912,0.30
1,1,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13996475,2023-03-18,80862,1.45
2,2,Acondicionador Repara & Protege Pantene,1,3.80,13996475,2023-03-18,35615,3.80
3,3,Palitos de zanahoria,1,1.78,13996475,2023-03-18,69877,1.78
4,4,Fajitas pollo y verduras,3,11.97,13996475,2023-03-18,4284,3.99
...,...,...,...,...,...,...,...,...
665,854,Pechugas enteras de pollo,1,4.32,12793662,2022-10-06,3682,4.32
666,856,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3682,4.40
667,858,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831,4.32
668,859,Aguacates,1,2.90,12793662,2022-10-06,3858,2.90
669,860,Aguacates,1,3.03,12793662,2022-10-06,3858,3.03

In [18]:
df = df[["product", "units", "price", "price_per_unit", "fecha", "order_number"]]

In [22]:
df.rename(columns={"product":"description", "price":"price_eu", "price_per_unit" :"unit_price", "fecha" :"date", "order_number": "order_num"}, inplace=True)

/var/folders/k4/q8g97p495cx7f63kbs0wzyc00000gn/T/ipykernel_12375/1936634914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"product":"description", "price":"price_eu", "price_per_unit" :"unit_price", "fecha" :"date", "order_number": "order_num"}, inplace=True)

In [24]:
df["order_num"] = df["order_num"].astype(str)

/var/folders/k4/q8g97p495cx7f63kbs0wzyc00000gn/T/ipykernel_12375/3215212593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["order_num"] = df["order_num"].astype(str)

In [25]:
df

,description,units,price_eu,unit_price,date,order_num
0,Tomate pera,2,0.60,0.30,2023-03-18,13996475
1,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,1.45,2023-03-18,13996475
2,Acondicionador Repara & Protege Pantene,1,3.80,3.80,2023-03-18,13996475
3,Palitos de zanahoria,1,1.78,1.78,2023-03-18,13996475
4,Fajitas pollo y verduras,3,11.97,3.99,2023-03-18,13996475
...,...,...,...,...,...,...
665,Pechugas enteras de pollo,1,4.32,4.32,2022-10-06,12793662
666,Pechugas enteras de pollo,1,4.40,4.40,2022-10-06,12793662
667,Medallones pechuga de pollo marinado,1,4.32,4.32,2022-10-06,12793662
668,Aguacates,1,2.90,2.90,2022-10-06,12793662
669,Aguacates,1,3.03,3.03,2022-10-06,12793662

In [28]:
export_to_csv(df,"../data/history-pruchase-kike")

DataFrame successfully exported to ../data/history-pruchase-kike.csv