In [3]:
import os

import pandas as pd
import numpy as np

In [4]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    #print date stamp - datetime.datetime.now()
    
    #t_stamp = str(datetime.datetime.now()).split(".")[0].replace(" ","_")
    
    file_path = f"{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

In [6]:
pwd

'/Users/Moni/Ironhack/my_ironhack/projects/final-project/notebooks/historical-purchase-data'

In [12]:
df_f = pd.read_csv("../../data/history-pruchase-family.csv")
df_f["user"] = "family"

In [13]:
df_k = pd.read_csv("../../data/history-pruchase-kike.csv")
df_k["user"] = "kike"

In [14]:
df_p = pd.read_csv("../../data/history-pruchase-palacet.csv")
df_p["user"] = "palacet"

In [15]:
df = pd.concat([df_f, df_k,df_p])

In [16]:
df

,description,units,price_eu,unit_price,date,order_num,user
0,Jamón serrano Incarlopsa lonchas,1,3.49,3.49,2020-01-10,302316,family
1,Queso fresco de cabra Hacendado,1,2.20,2.20,2020-01-10,302316,family
2,Queso rallado 4 quesos Hacendado,1,1.59,1.59,2020-01-10,302316,family
3,Perlas de mozzarella fresca Hacendado,1,1.70,1.70,2020-01-10,302316,family
4,Mozzarella di bufala campana Hacendado,1,1.70,1.70,2020-01-10,302316,family
...,...,...,...,...,...,...,...
124,Activador del lavado ropa blanca Bosque Verde ...,1,1.60,1.60,2020-07-11,6947878,palacet
125,Suavizante ropa talco Bosque Verde concentrado,2,3.58,1.79,2020-07-11,6947878,palacet
126,Lavavajillas aloe Bosque Verde concentrado,1,1.55,1.55,2020-07-11,6947878,palacet
127,Lejía con detergente Bosque Verde,1,0.71,0.71,2020-07-11,6947878,palacet
128,Friegasuelos pino Bosque Verde líquido,1,0.65,0.65,2020-07-11,6947878,palacet

In [ ]:
Aceite de oliva virgen extra Hacendado
Aceite de oliva virgen Hacendado

Aguacate
Aguacate

In [18]:
export_to_csv(df, "../../data/history-purchase")

DataFrame successfully exported to ../../data/history-purchase.csv

### Set up SQL connection
First we load the ".env" file so that we can load the user's secret log in info to SQL.

In [ ]:
password = os.getenv("sql_password")
dbName = 'mercadona'
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine